<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>基本プロフィールを登録しましょう！</h2>
    <p>「Re-美」に登録すると施術履歴を保存する事ができます！</p>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>

<% end %>